.column-search__box {
  height: 20px;
  display: none;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  width: 100px;
}

.column-search__input {
  width: 100%;
  height: 100%;
  outline: none;
  background-color: none;
  border: none;
  margin: 0;
}

.column-search__img {
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}

input::placeholder {
  color: gray;
  font-family: "Inter", Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background: none;
}
